<body>
  <div class="container">
    <h1 mat-dialog-title>Escrever Lembrete</h1>
    <div mat-dialog-content class="seedMSG" [formGroup]="AvisoLembreteForm">
      <div class="form-group">
        <div class="divUsuario">
          <div>
            <p>Medico</p>
            <input formControlName="destinatario" type="radio" [value]="1">
            <label>Email :
              <strong>
                <p>{{ data.Medico.MedEmail || data.Medico.medEmail || 'Não informado' }}</p>
              </strong>
            </label>
          </div>
          <div>
            <input formControlName="destinatario" type="radio" [value]="2">
            <label>Telefone :
              <strong>
                <p>{{ data.Medico.MedTelefone || data.Medico.medTelefone || 'Não informado'}}</p>
              </strong>
            </label>
          </div>
        </div>



        <div class="divUsuario">
          <div class="u">
            <hr>
            <p>Paciente</p>
            <input formControlName="destinatario" type="radio" [value]="3">
            <label>Email :
              <strong>
                <p>{{ data.Paciente.PaciEmail || data.Paciente.paciEmail || 'Não informado' }}</p>
              </strong>
            </label>
          </div>
          <div class="u">
            <input formControlName="destinatario" type="radio" [value]="4">
            <label>Telefone :
              <strong>
                <p>{{ data.Paciente.PaciTelefone || data.Paciente.paciTelefone || 'Não informado'}}</p>
              </strong>
            </label>
          </div>
        </div>
      </div>

      <textarea formControlName="mensagem" class="mensagem-textarea">
      </textarea>
    </div>
    <div mat-dialog-actions class="actions-container">
      <button class="close-button" mat-button (click)="onNoClick()">Fechar</button>
      <button class="close-button" mat-button (click)="EnviarMensagem()">Enviar</button>
    </div>
  </div>
</body>
