.close-button {
  margin-top: -265px;
  margin-left: 480px;
  border: hidden;
  background-color: rgb(204, 17, 17);
  border-radius: 5px;
  color: white
}


/* Estilos para Mobile */
@media screen and (max-width: 750px) {
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
  }


  .containeExterno {
    display: flex;
  }

  .container {
    background-color: #fff;

    width: 90%;
    margin: auto;
     background-color: rgba(255, 255, 255, 0.8);


  }


}
