
<app-cadastro-usuario
  [RolesUsuario]="RolesUsuarioAdministrador"
  >
</app-cadastro-usuario>


<body>
  <div class="containeExterno">

  <div class="container"  [ngClass]="{'blurred':  FormularioUsuaroValido}">
    <br>
    <h2>Cadastra Usuario de Administracao</h2>
    <form id="cadastroForm" class="responsivo" [formGroup]="FormularioADM">
      <div class="form-group">
        <label for="nome">
          <font color="#FF0000"><b>* </b></font> Nome :
        </label>
        <input [(ngModel)]="Administracao.AdmNome" formControlName="nome" type="text" id="nome" name="nome" required>
      </div>

      <div class="form-group">
        <label for="Email">
          <font color="#FF0000"><b>* </b></font> Email :
        </label>
        <input [(ngModel)]="Administracao.AdmEmail" formControlName="Email" type="text" id="Email" name="Email"
          required>
      </div>
      <br>

    </form>
    <button class="buttonCadastrar" (click)="cadastra()" type="submit">Cadastrar</button>
    <br>

  </div>
</div>
<br><br>

</body>
