<body>
  <div class="main-container">
    <div class="header">
      <div class="timer-container">
        <div class="clock-face">
          <div class="clock-hand" [ngStyle]="{'transform': 'rotate(' + (minutes * 6) + 'deg)'}"></div>
          <div class="clock-label">{{ minutes }}m</div>
        </div>
        <div class="clock-face">
          <div class="clock-hand" [ngStyle]="{'transform': 'rotate(' + (seconds * 6) + 'deg)'}"></div>
          <div class="clock-label">{{ seconds }}s</div>
        </div>
      </div>
    </div>

    <div class="section">
      <app-pediatria-exames-fisicos [Finalizar]="FinalizarConsulta"></app-pediatria-exames-fisicos>
    </div>
    <div class="section">
      <app-diagnostico [Finalizar]="FinalizarConsulta"></app-diagnostico>
    </div>
    <div class="section">
      <app-prescricao [Finalizar]="FinalizarConsulta"></app-prescricao>
    </div>
    <button style="background-color: green; color: white; padding: 10px; border: none; border-radius: 5px;" (click)="finalizar()">Finalizar consulta</button>
  </div>
</body>
