
<div style="display: flex; justify-content: center;">
  <div>
    <h1>Painel de Controle
    </h1>
  </div>
</div>
<div class="dashboard-container" *ngIf="this.ControleAcessoService.AcessoAdministrador()">

  <div class="dashboard-row">
    <div class="dashboard-item">
      <app-grafico-qnt-consultas-dia-anterior></app-grafico-qnt-consultas-dia-anterior>
    </div>
    <div class="dashboard-item">
      <app-grafico-agendamentos-dias-semanas-mes></app-grafico-agendamentos-dias-semanas-mes>
    </div>
  </div>

  <div class="dashboard-row">
    <div class="dashboard-item smaller">
      <app-grafico-saldo></app-grafico-saldo>
    </div>
    <div class="dashboard-item smaller">
      <app-grafico-categoria-medicos></app-grafico-categoria-medicos>
    </div>
  </div>

</div>

<div  *ngIf="this.ControleAcessoService.AcessoMedico()" class="dashboard-container">
<div>
  <p>
    Colocar os grafos para o medico  ver
  </p>
</div>
</div>
