<body>
  <div class="container">
    <form [formGroup]="FormGroupConsulta" class="fomulario">

      <label class="label_filtro_Identificador">
        <font style="color: red; font-size: 12px;">* </font>Nº Registro {{DadosAntigosDeConsulta.consulta}}
      </label>
      <br>

      <div class="search-container">
        <label class="label_filtro_PESQUISA">Pesquisar Paciente</label>
        <input class="input_search" type="text" id="Pesquisa" name="Pesquisa" required formControlName="PesquisaPaciente">
        <button class="btnPesquisar" (click)="PesquisarPacientes()">Pesquisar</button>
      </div>


      <div class="filtro-container" >
        <div>
        <label class="label_filtro">Nome</label>
        <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="1" required>
      </div>
      <div>
        <label class="label_filtro">CPF</label>
        <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="2" required>
      </div>
      <div>
        <label class="label_filtro">RG</label>
        <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="3" required>
      </div>
      <div>
        <label class="label_filtro">Telefone</label>
        <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="4" required>
      </div>
      <div>
        <label class="label_filtro">Buscar Todos</label>
        <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="5" required>
      </div>
    </div>

    <br>

    <app-tabela-de-pacientes *ngIf="showResultadoPaciente" [dadosPaciente]="dadosPacientePassandoTabela"
      (fechar)="fecharTabela()" (selecionaPaciente)="PacienteSelecionado($event)"></app-tabela-de-pacientes>

    <div *ngIf="PacienteEscolhido" style=" margin-left: 20px;   width: 600px;">
      <div style="border: 1px solid ; border: hidden;">
        <i class="fa-solid fa-user fa-xl" style="color: #63E6BE; margin-left: 5px;"></i>
        <label style="font-size: 12px;margin-left: 10px;"> <br>
          <strong>Nome</strong> {{PacienteEscolhido.paciNome}} <br>
          <strong>CPF</strong> {{PacienteEscolhido.paciCpf}}<br>
          <strong>Data Nac.</strong> {{PacienteEscolhido.paciDataNacimento ? PacienteEscolhido.paciDataNacimento : 'Não informado'}}<br>
          <strong>Email</strong> {{PacienteEscolhido.paciEmail}}<br>
          <strong>RG</strong> {{PacienteEscolhido.paciRg}}
        </label>
      </div>
      <br>
    </div>

    <hr>

    <br>



    <div>
      <label class="label_filtro_PESQUISA">Pesquisar Medicos </label>
      <input class="input_search" type="text" id="Pesquisa" name="Pesquisa" required formControlName="PesquisaMedico">
      <button class="btnPesquisar" (click)="PesquisarMedicosFiltro()">Pesquisar</button>
    </div>




    <div class="filtro-container" >
      <div>
        <label class="label_filtro">Nome</label>
        <input formControlName="FiltroPesquisaMedico" class="input_filtro" type="radio" [value]="1" required>
      </div>
      <div>
        <label class="label_filtro">CRM</label>
        <input formControlName="FiltroPesquisaMedico" class="input_filtro" type="radio" [value]="2" required>
      </div>
      <div>
        <label class="label_filtro">Cidade</label>
      <input formControlName="FiltroPesquisaMedico" class="input_filtro" type="radio" [value]="3" required>
      </div>
      <div>
        <label class="label_filtro">Especialidade</label>
      <input formControlName="FiltroPesquisaMedico" class="input_filtro" type="radio" [value]="4" required>
      </div>
      <div>
        <label class="label_filtro">Buscar todos</label>
        <input formControlName="FiltroPesquisaMedico" class="input_filtro" type="radio" [value]="5" required>
      </div>
    </div>


<br>


    <app-tabela-editar-Medicos-Consultas *ngIf="showResultadoMedico" [dadosMedicos]="dadosMedicoPassandoTabela"
      (fechar)="fecharTabelaMedicos()" (selecionaMedico)="MedicoSelecionado($event)">
    </app-tabela-editar-Medicos-Consultas>

    <div *ngIf="DadosAntigosDeConsulta" style=" margin-left: 20px;   width: 600px;">
      <div style="border: 1px solid ; border: hidden;">
        <i class="fa-solid fa-user fa-xl" style="color: #63E6BE; margin-left: 5px;"></i>
        <label style="font-size: 12px;margin-left: 10px;"> <br>
          <strong>Nome</strong> {{DadosAntigosDeConsulta.medico.medNome }} <br>
          <strong>CPF</strong> {{DadosAntigosDeConsulta.medico.medCpf}}<br>
          <strong>Data Nac.</strong> {{DadosAntigosDeConsulta.medico.medDataNacimento ? DadosAntigosDeConsulta.medico.medDataNacimento : 'Não informado'}}<br>
          <strong>Email</strong> {{DadosAntigosDeConsulta.medico.medEmail}}<br>
          <strong>RG</strong> {{DadosAntigosDeConsulta.medico.medRg}}<br>
          <strong>CRM</strong> {{DadosAntigosDeConsulta.medico.medCrm}}<br>
          <strong>Especialidade</strong> {{DadosAntigosDeConsulta.medico.medEspecialidade}}
        </label>
      </div>
      <br>
    </div>



    <hr>
    <br>
    <div>

      <label class="label_filtro_DATA">
        <font style="color: red; font-size: 12px;">* </font>Data
      </label>
      <input class="input_DATA" formControlName="date" [(ngModel)]="DadosAntigosDeConsulta.data" type="date" id="date"
        name="date" (change)="onDateChange($event)">

      <br><br>
      <label class="label_filtro_Hora">
        <font style="color: red; font-size: 12px;">* </font>Hora
      </label>
      <select [(ngModel)]="DadosAntigosDeConsulta.horario" class="input_HORA" formControlName="time" name="time"
        id="time">
        @for (time of Hora; track time) {
        <option [value]="time.value">{{time.label}}</option>
        }
      </select>
      <br>


    </div>





    <hr>




    <br>

    <div>
      <label class="label_filtro_Observacao">Observação:</label>
      <br>
      <textarea [(ngModel)]="DadosAntigosDeConsulta.observacao" formControlName="observacao"
        class="textarea_observacao" type="text" formControlName="observacao">
               </textarea>
    </div>

    <br>

    <div>
      <label class="label_filtro">Dinheiro</label>
      <input [(ngModel)]="DadosAntigosDeConsulta.formaPagamento" formControlName="Pagamento" class="input_filtro"
        type="radio" [value]="1" required>

      <label class="label_filtro">Cartao</label>
      <input [(ngModel)]="DadosAntigosDeConsulta.formaPagamento" formControlName="Pagamento" class="input_filtro"
        type="radio" [value]="2" required>

      <label class="label_filtro">PIx</label>
      <input [(ngModel)]="DadosAntigosDeConsulta.formaPagamento" formControlName="Pagamento" class="input_filtro"
        type="radio" [value]="3" required>
    </div>

    <br>
    <br>
    <div style=" display: flex; justify-content: center; ">
      <button class="BotaoSalvar" (click)="Salvar()"> Salvar </button>

    </div>


    <br>
  </form>




</div>

</body>
