<body *ngIf="AparecerHtml">

  <h1>Formulário de Prontuário Médico</h1>


  <form>

    <div class="section">
      <h2>Informações Gerais</h2>

      <div class="form-group">
        <div>
          <p><strong>Medico:</strong> <span class="undefined">Indefinido</span></p>
          <p><strong>Paciete:</strong> <span class="undefined">Indefinido</span></p>
          <p><strong>Data finalizacao :</strong> <span class="undefined">Indefinido</span></p>
        </div>

        <div>
          <p><strong>Tempo de Duração:</strong> <span class="undefined">Indefinido</span></p>
          <p><strong>Arquivo:</strong> <span class="undefined">Indefinido</span></p>
        </div>

      </div>
    </div>

    <div class="section">
      <h2>Dados Médicos</h2>
      <div>
        <div class="form-group">
          <div>
            <p><strong>Altura:</strong> <span class="undefined">Indefinido</span></p>
            <p><strong>Peso:</strong> <span class="undefined">Indefinido</span></p>
            <p><strong>Sexo:</strong> <span class="undefined">Indefinido</span></p>
            <p><strong>Data de Nascimento:</strong> <span class="undefined">Indefinido</span></p>
            <p><strong>Temperatura:</strong> <span class="undefined">Indefinido</span></p>
            <p><strong>Frequência Arterial Diastólica:</strong> <span class="undefined">Indefinido</span></p>
          </div>
          <div>
            <p><strong>Pressão Arterial:</strong> <span class="undefined">Indefinido</span></p>
            <p><strong>Frequência Arterial Sistólica:</strong> <span class="undefined">Indefinido</span></p>
            <p><strong>Frequência Respiratória:</strong> <span class="undefined">Indefinido</span></p>
            <p><strong>Hemoglobina:</strong> <span class="undefined">Indefinido</span></p>

            <p><strong>Saturação:</strong> <span class="undefined">Indefinido</span></p>

          </div>
        </div>
        <hr>
        <p><strong>Observação:</strong> </p>
        <div  class="undefined campoTexto">Indefinido</div>

        <hr>
        <p><strong>Anamnese:</strong> </p>
        <div  class="undefined campoTexto">Indefinido</div>

        <p><strong>Conduta:</strong> </p>
        <div  class="undefined campoTexto">Indefinido</div>

        <p><strong>Diagnóstico:</strong> </p>
        <div  class="undefined campoTexto">Indefinido</div>

        <p><strong>Queixa Principal:</strong> </p>
        <div  class="undefined campoTexto">Indefinido</div>

        <hr>
        <p><strong>Título da Prescrição:</strong> </p>
        <div  class="undefined campoTexto">Indefinido</div>

        <p><strong>Modelo da Prescrição:</strong> </p>
        <p><strong>Data da Prescrição:</strong> </p>
        <p><strong>Prescrição:</strong> </p>
        <div  class="undefined campoTexto">Indefinido</div>

        <hr>









      </div>
    </div>

    <button type="submit">Salvar</button>

  </form>

</body>
