<body *ngIf="AparecerHtml">

  <h1>Formulário de Prontuário Médico</h1>


  <form class="fomulario">

    <div class="section">
      <h2 style="margin-left: 10px;">Informações Gerais</h2>

      <div class="form-group">
        <div>
          <p style="margin-left: 10px;"><strong>Medico:</strong> <span class="undefined">{{ this.Consultas.ConMedico.medNome?.trim()}}</span></p>
          <p style="margin-left: 10px;"><strong>Paciete:</strong> <span class="undefined"> {{ this.Consultas.ConPaciente.paciNome?.trim()}}</span>
          </p>
          <p style="margin-left: 10px;"><strong>Data finalizacao :</strong> <span class="undefined">{{
              this.Prontuario.prontDataFinalizado?.trim()}}</span></p>
        </div>

        <div>
          <p style="margin-left: 10px;"><strong>Tempo de Duração:</strong> <span class="undefined">{{minutos }}minutos,{{segundos }}segundos</span>
          </p>
          <p style="margin-left: 10px;"><strong>Arquivo:</strong> <span class="undefined"> PDF </span></p>
        </div>

      </div>
    </div>

    <div class="section">
      <h2 style="margin-left: 10px;">Dados Médicos</h2>
      <div>
        <div class="form-group">
          <div>
            <p style="margin-left: 10px;"><strong>Altura:</strong> <span class="undefined">{{ this.Prontuario.prontAltura?.trim()}} <span class="textoPequeno">(m)</span></span></p>
            <p style="margin-left: 10px;"><strong>Peso:</strong> <span class="undefined">{{ this.Prontuario.prontPeso?.trim()}} <span class="textoPequeno">(Kg)</span></span></p>
            <p *ngIf="this.Prontuario.prontSexo === '1'"><strong>Sexo:</strong> <span class="undefined">MASCULINO </span>
            </p>
            <p *ngIf="this.Prontuario.prontSexo === '2'"><strong>Sexo:</strong> <span class="undefined">FEMININO</span>
            </p>
            <p style="margin-left: 10px;"><strong>Data de Nascimento:</strong> <span class="undefined">{{this.Prontuario.prontDataNacimento?.trim()}} </span></p>
            <p style="margin-left: 10px;"><strong>Temperatura:</strong> <span class="undefined">{{ this.Prontuario.prontTemperatura?.trim()}}<span class="textoPequeno">ºC</span></span></p>

            <p style="margin-left: 10px;"><strong>Hemoglobina:</strong> <span class="undefined">{{ this.Prontuario.prontHemoglobina?.trim()}}<span class="textoPequeno">(g/L)</span></span></p>
          </div>
          <div>
            <p style="margin-left: 10px;"><strong>Pressão Arterial:</strong> <span class="undefined">{{ this.Prontuario.prontPressao?.trim()}}<span class="textoPequeno">(mmHG)</span></span></p>
            <p style="margin-left: 10px;"><strong>Frequência Arterial Sistólica:</strong> <span class="undefined">{{this.Prontuario.prontFrequenciaArterialSistolica?.trim()}} <span class="textoPequeno">(mmHG)</span></span></p>
            <p style="margin-left: 10px;"><strong>Frequência Arterial Diastólica:</strong> <span class="undefined">{{ this.Prontuario.prontFrequenciaArterialDiastolica?.trim()}} <span class="textoPequeno">(mmHG)</span> </span></p>
            <p style="margin-left: 10px;"><strong>Frequência Respiratória:</strong> <span class="undefined">{{this.Prontuario.prontFrequenciaRespiratoria?.trim()}}<span class="textoPequeno"> (IRPM)</span></span></p>
            <p style="margin-left: 10px;"><strong>Saturação:</strong> <span class="undefined">{{ this.Prontuario.prontSaturacao?.trim()}} <span class="textoPequeno">%</span></span>
            </p>

          </div>
        </div>
        <hr>
        <p style="margin-left: 10px;"><strong>Observação:</strong></p>
        <div class="undefined campoTexto" appAutoResize>{{ this.Prontuario.prontObservacao?.trim() }}</div>
        <hr>
        <p style="margin-left: 10px;"><strong>Anamnese:</strong></p>
        <div class="undefined campoTexto" appAutoResize>{{ this.Prontuario.prontAnamnese?.trim() }}</div>
        <p style="margin-left: 10px;"><strong>Conduta:</strong></p>
        <div class="undefined campoTexto" appAutoResize>{{ this.Prontuario.prontCondulta?.trim() }}</div>
        <p style="margin-left: 10px;"><strong>Diagnóstico:</strong></p>
        <div class="undefined campoTexto" appAutoResize>{{ this.Prontuario.prontDiagnostico?.trim() }}</div>
        <p style="margin-left: 10px;"><strong>Queixa Principal:</strong></p>
        <div class="undefined campoTexto" appAutoResize>{{ this.Prontuario.prontQueixaPricipal?.trim() }}</div>
        <hr>
        <p style="margin-left: 10px;"><strong>Título da Prescrição:</strong></p>
        <div class="undefined campoTexto" appAutoResize>{{ this.Prontuario.prontTituloPrescricao?.trim() }}</div>
        <p style="margin-left: 10px;"><strong>Modelo da Prescrição:</strong>{{ this.Prontuario.prontModeloPrescricao?.trim() }}</p>
        <p style="margin-left: 10px;"><strong>Data da Prescrição:</strong>{{ this.Prontuario.prontDataPrescricao?.trim() }}</p>
        <p style="margin-left: 10px;"><strong>Prescrição:</strong></p>
        <div class="undefined campoTexto" appAutoResize>{{ this.Prontuario.prontPrescricao?.trim() }}</div>
        <hr>
      </div>

    </div>

  </form>

  <br>
  <br>

  <div style="display: flex; justify-content: center; margin: 15px;">
    <button type="submit" (click)="salvar()">Salvar</button>
    <button type="submit" (click)="ImprimirSOlicitacaoDeExames()">Imprimir Solicitação de Exames  </button>
    <button type="submit" (click)="ImprimirPrescricao()">Imprimir  Prescrição </button>
  </div>


</body>
