::ng-deep .mat-calendar {
  background-color: #8385bd !important; /* Cor de fundo do calendário */
}

::ng-deep .mat-calendar-period-button,
::ng-deep .mat-calendar-previous-button,
::ng-deep .mat-calendar-next-button {
  color: #f4f4f4 !important; /* Cor dos botões do calendário */
}

::ng-deep .mat-calendar-body-cell-content {
  color: #ffffff !important; /* Cor do texto das células */
}

::ng-deep .mat-calendar-body-selected {
  background-color: #1320ad !important; /* Cor de fundo da data selecionada */
  color: white !important; /* Cor do texto da data selecionada */
}

::ng-deep .mat-calendar-body-today {
  border-color: #ffffff !important; /* Cor da borda do dia de hoje */
}

::ng-deep .mat-calendar-body-disabled {
  color: rgba(244, 239, 239, 0.883) !important; /* Cor do texto das datas desativadas */
}

::ng-deep .mat-calendar-body-active {
  background-color: #8385bd !important; /* Cor de fundo das células ativas */
}

::ng-deep .mat-calendar-body-cell-hover {
  background-color: #1320ad !important; /* Cor de fundo das células ao passar o mouse */
}

::ng-deep .mat-calendar-body-range-start,
::ng-deep .mat-calendar-body-range-end {
  background-color: #8385bd !important; /* Cor de fundo do início e fim do intervalo */
  color: white !important; /* Cor do texto do início e fim do intervalo */
}

::ng-deep .mat-calendar-range-background {
  background-color: rgba(76, 175, 80, 0.5) !important; /* Cor de fundo do intervalo de datas */
}
