:root {
  --BrancoPrincipal: #ffffff;
}

body {
  margin: 30px;
  padding: 0;
  background-color: var(--BrancoPrincipal);
  font-family: Arial, sans-serif;
  overflow-x: hidden;
}

.container {
  border: 1px solid black;
}



@media screen and (max-width: 750px) {
  body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
  }
}