<body>
  <div class="desktop">
    <form class="fomulario" [formGroup]="FormularioAgenda">


      <div class="divPesquisar">

        <label for="busca" class="label_search">Pesquisar </label>
        <input type="text" id="busca" class="input_search" name="busca" formControlName="busca">

        <button class="btnPesquisar" type="submit" (click)="Pesquisar()">Pesquisar</button>

        <button title="Dados de Consultas Concluídas" class="btnPesquisarCosultaConcluidas" type="submit"
          (click)="PesquisarNaTabelaConcluidos()">Finalizadas</button>
      </div>

      <div class="grid">
        <div class="divOperacoes">
          <button title="Recarregar Tabela" class="btnRecarregar" (click)="Recarregar()">
            <i class="fa-solid fa-rotate-right fa-xl" style="color: blue;"></i>
          </button>
          <span class="btn-label">Recarregar <br> tabela</span>
        </div>




        <div class="divOperacoes">
          <button title="Cronograma do dia" class="btnRecarregar" (click)="CronogramaDoDia()">
            <i class="fa-solid fa-clock fa-xl" style="color: #035e4c;"></i>
          </button>
          <span class="btn-label">Cronograma <br> do dia</span>
        </div>

        <div class="divOperacoes">
          <button class="btnRecarregar" title="Adicionar Medico" (click)="AdicionarMedico()">
            <i class="fa-solid fa-user-nurse fa-xl" style="color: #035e31;"></i>
          </button>
          <span class="btn-label">Adicionar <br> Medico</span>
        </div>

        <div class="divOperacoes">
          <button class="btnRecarregar" title="Adicionar Paciente" (click)="AdicionarPaciente()">
            <i class="fa-solid fa-user-plus fa-xl" style="color: #f2a957;"></i>
          </button>
          <span class="btn-label">Adicionar <br> Paciente</span>
        </div>

        <div class="divOperacoes">
          <button class="btnRecarregar" title="Adicionar Secretaria" (click)="AdicionarSecretaria()">
            <i class="fa-solid fa-user-pen fa-xl" style="color: #8d0544;"></i>
          </button>
          <span class="btn-label">Adicionar <br> Secretaria</span>
        </div>
      </div>


      <hr>
      <div class="tabela">
        <section class="example-container mat-elevation-z8 custom-table" tabindex="0"
          style="border: 1px solid black; border-radius: 10px;">
          <table mat-table [dataSource]="dataSource">

            <ng-container matColumnDef="consulta">
              <th mat-header-cell *matHeaderCellDef class="NomeCod">Cod</th>
              <td mat-cell *matCellDef="let element" class="colunascod">{{ element.consulta }}</td>
            </ng-container>

            <ng-container matColumnDef="medico">
              <th mat-header-cell *matHeaderCellDef class="NomeMedico">Médico</th>
              <td mat-cell *matCellDef="let element" class="colunasMedico">{{ element.medico.medNome }}</td>
            </ng-container>

            <ng-container matColumnDef="paciente">
              <th mat-header-cell *matHeaderCellDef class="NomePaciente">Paciente</th>
              <td mat-cell *matCellDef="let element" class="colunasPaciente">{{ element.paciente.paciNome }}</td>
            </ng-container>

            <ng-container matColumnDef="diaSemana">
              <th mat-header-cell *matHeaderCellDef class="NomeDiaSemana">Dia</th>
              <td mat-cell *matCellDef="let element" class="colunasDiaSemana">{{ element.diaSemana }}</td>
            </ng-container>

            <ng-container matColumnDef="data">
              <th mat-header-cell *matHeaderCellDef class="Nomedata">Dia/Mês/Ano</th>
              <td mat-cell *matCellDef="let element" class="colunasData">{{ element.data | date: 'dd/MM/yyyy'}}</td>
            </ng-container>

            <ng-container matColumnDef="horario">
              <th mat-header-cell *matHeaderCellDef class="NomeHorario">Horário</th>
              <td mat-cell *matCellDef="let element" class="colunasHorario">{{ element.horario }}</td>
            </ng-container>



            <ng-container matColumnDef="Seleciona">
              <th mat-header-cell *matHeaderCellDef class="NomeObecervacao">Seleciona</th>
              <td mat-cell *matCellDef="let element;let i = index" class="colunasObecervacao">
                <mat-select>
                  <mat-option *ngIf="element.observacao">
                    <div class="icon-option" (click)="Observacoes(element.observacao)">
                      <i class="fa-solid fa-note-sticky fa-xl" style="color: cadetblue;"></i>
                      <span class="icon-text">observacões</span>
                    </div>
                  </mat-option>
                  <mat-option>
                    <div class="icon-option" (click)="EnviarAviso(element)">
                      <i class="fa-solid fa-paper-plane" style="color: #5351e6;"></i>
                      <span class="icon-text">Enviar Aviso</span>
                    </div>
                  </mat-option>
                  <mat-option [ngClass]="{ 'disabled-button': Finalizadas   }">
                    <div class="icon-option" (click)="Deletar(element)">
                      <i class="fa-regular fa-trash-can" style="color: red;"></i>
                      <span class="icon-text">Excluir</span>
                    </div>
                  </mat-option>
                  <mat-option [ngClass]="{ 'disabled-button': Finalizadas   }">
                    <div class="icon-option" (click)="Editar(element)">
                      <i class="fa-regular fa-pen-to-square fa-xl" style="color: blue;"></i>
                      <span class="icon-text">Editar</span>
                    </div>
                  </mat-option>
                  <mat-option [ngClass]="{ 'disabled-button': Finalizadas   }">
                    <div class="icon-option" (click)="Concluido(element)">
                      <i class="fa-solid fa-square-check fa-xl" style="color: green;"></i> <span
                        class="icon-text">Concluir Consulta</span>
                    </div>
                  </mat-option>
                  <mat-option>
                    <div class="icon-option" (click)="GerarPDF(element)">
                      <i class="fa-solid fa-file-pdf fa-xl" style="color: blue;"></i>
                      <span class="icon-text">Imprimir</span>
                    </div>
                  </mat-option>
                </mat-select>
              </td>
            </ng-container>





            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </section>
      </div>


    </form>
  </div>
</body>