@media screen and (min-width: 750px) {


  .desktop {
    height: 110vh;
    /* Ocupa 100% da altura da viewport */
    display: flex;
    justify-content: center;
  }


  .input_filtro {
    margin-left: -9px;
  }

  .label_search {
    margin-top: 0;
    margin-left: 10px;
    padding: 10px;
  }


  .input_search {

    display: flex;
    border-radius: 5px;
    margin-left: 15px;
    padding: 10px;
    width: 400px;
    border-color: #000000;
  }





  .input_DATA {
    display: flex;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    width: 105px;
    border-color: #000000;

  }


  .label_filtro_DATA {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }

  .label_filtro_Hora {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin-left: 50%;
    display: flex;
    margin-top: -110px;
  }

  .input_HORA {
    border-color: #000000;
    margin-top: -10px;
    display: flex;
    border-radius: 5px;
    margin-left: 155px;
    padding: 10px;
    width: 105px;
  }

  .label_filtro_PESQUISA {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }


  .btnPesquisar {
    display: flex;
    margin-left: 450px;
    margin-top: -40px;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    background-color: rgb(49, 168, 59);
    border-radius: 5px;
    color: white;
  }

  .btnRecarregar {
    border: hidden;
    background-color: white;

  }

  .label_filtro {
    padding: 10px;
    margin-left: 10px;
    margin: 5px;
    font-size: 12px;
  }

  .divPesquisar {
    margin-top: 25px;
    margin: 15px;
  }

  .grid {
    display: grid;
    grid-template-columns: 10% 10% 10% 10% 10% 50%;
  }

  .divRecarregar {
    margin-left: 30px;
  }

  .divDeletar {
    margin-left: -30px;
  }

  .divEditar{
    margin-left: -90px;
  }

  .divConcluido{
    margin-left: -150px;
  }

  .divPDF{
    margin-left: -210px;
  }

  .tabela {
    height: 50%;
    margin: 25px;
    margin-top: 15px;

  }

  .fomulario {
    background-color: rgb(255, 255, 255);
    border: 1px solid;
    width: 1000px;
    border-radius: 10px;
    margin: 35px;
  }




}
