@media screen and (min-width: 750px) {

  .input_filtro {
    margin-left: -9px;
  }

  .label_search {
    margin-top: 0;
    margin-left: 10px;
    padding: 10px;
  }

  .input_search {
    display: flex;
    border-radius: 5px;
    margin-left: 15px;
    padding: 10px;
    width: 400px;
    border-color: #000000;
  }

  button {
    cursor: pointer;
  }

  .input_DATA {
    display: flex;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    width: 105px;
    border-color: #000000;
  }

  .label_filtro_DATA {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }

  .label_filtro_Hora {
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    margin-left: 50%;
    display: flex;
    margin-top: -110px;
  }

  .input_HORA {
    border-color: #000000;
    margin-top: -10px;
    display: flex;
    border-radius: 5px;
    margin-left: 155px;
    padding: 10px;
    width: 105px;
  }

  .label_filtro_PESQUISA {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }

  .disabled-button {
    opacity: 0.5;
    pointer-events: none;
  }

  .btnPesquisar {
    display: flex;
    margin-left: 450px;
    margin-top: -40px;
    padding: 10px;
    width: 80px;
    cursor: pointer;
    background-color: rgb(49, 168, 59);
    border-radius: 5px;
    color: white;
  }

  .btnPesquisarCosultaConcluidas {
    display: flex;
    margin-left: 550px;
    margin-top: -40px;
    padding: 10px;
    width: 100px;
    cursor: pointer;
    background-color: rgb(71, 87, 175);
    border-radius: 5px;
    color: white;
  }

  .btnPesquisarCosultaConcluidas:active {
    background-color: rgb(97, 106, 158);
  }

  .btnRecarregar {
    border: none;
    background-color: rgb(206, 212, 212);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .btnRecarregar:active {
    background-color: rgb(184, 183, 183);
  }

  .label_filtro {
    padding: 10px;
    margin-left: 10px;
    margin: 5px;
    font-size: 12px;
  }

  .divPesquisar {
    margin-top: 25px;
    margin: 15px;
  }

  .grid {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .divOperacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }

  .tabela {
    height: 50%;
    margin: 25px;
    margin-top: 15px;
  }

  .btn-label {
    font-size: 10px;
    font-weight: bold;
    color: #000;
    margin-top: 5px;
  }
}









/* Estilos para Mobile */
@media screen and (max-width: 750px) {
  .desktop {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
  }

  .formulario {
    background-color: rgb(206, 212, 212);
    padding: 10px;
  }


  .divPesquisar {
    margin-top: 25px;
    margin: 5px;
  }

  .label_search {
    margin-top: 0;
    margin: 5px;

    padding: 10px;
  }

  .input_search {
    display: flex;
    border-radius: 5px;
    margin-left: 15px;
    padding: 10px;
    width: 80%;
    border-color: #000000;
  }

  .btnPesquisar {
    padding: 10px;
    margin-top: 10px;
    width: 40%;
    margin: 5px;
    background-color: rgb(49, 168, 59);
    color: #fff;
    border: none;
    cursor: pointer;
    margin-left: 15px;
  }

  .disabled-button {
    opacity: 0.5;
    pointer-events: none;
  }

  .btnPesquisarCosultaConcluidas {
    padding: 10px;
    margin-top: 10px;
    width: 40%;
    margin: 5px;
    background-color: rgb(49, 168, 59);
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: rgb(71, 87, 175);
    margin-left: 15px;


  }

  .btnPesquisarCosultaConcluidas:active {
    background-color: rgb(97, 106, 158);
  }

  .grid {
    margin-left: 25px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .divOperacoes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
  }


  .btnRecarregar {
    border: none;
    background-color: rgb(206, 212, 212);
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }

  .btnRecarregar:active {
    background-color: rgb(184, 183, 183);
  }
}
