
 <mat-toolbar  *ngIf="estaLogado()"  class="overlap-group ">

  <button  class="ButonCabecalho" (click)="aaa()" mat-icon-button   >
      <mat-icon class="icons">supervised_user_circle</mat-icon>
  </button>
  <button  class="ButonCabecalho"  mat-icon-butto  >
    <mat-icon class="icons" >menu</mat-icon>
  </button>
  <span>Bem Vindo </span>
  <span class="example-spacer"></span>


  <button  class="ButonCabecalho exit" (click)="logout()" mat-icon-button   >
    <mat-icon class="icons">exit_to_app</mat-icon>
  </button>
</mat-toolbar>




