<header   style=" background-color: rgb(108, 172, 233); position: fixed; top: 0; width: 100%; height: 50px;">
  <div class="overlap-group">
    <div class="divCabecalhoDescktop">
      <button class="ButonCabecalho">
        <mat-icon>supervised_user_circle</mat-icon>
      </button>
      <button class="ButonCabecalho">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div style="margin: 50px;">
      <button class="ButonCabecalho exit">
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>

  </div>
</header>
