.example-spacer {
  flex: 1 1 auto;
}


.overlap-group {
  background-color: rgb(43, 125, 197);
  height: 40px;
}

.icons {
  height: 20px;
  width: 20px;
  color: rgb(2, 2, 2);
  left: 10px;
}

.buttonMenu{
  background-color: rgb(43, 125, 197);
}
.ButonCabecalho {

  border: hidden;

  width: 35px;
  height: 30px;
}

.icon-person,
.icon-logout,
.icon-menu {
  height: 100%;
  /* Para alinhar verticalmente ao centro */
}
