<mat-toolbar *ngIf="estaLogado()" class="overlap-group ">



  <button class="ButonCabecalho buttonMenu" mat-button [matMenuTriggerFor]="usuario">
    <i class="fa-regular fa-circle-user fa-2xl"></i>
  </button>
  <mat-menu #usuario="matMenu">
    <button mat-menu-item>Dados Pessoais <mat-icon><i style="color: rgb(98, 156, 211);"
          class="fa-solid fa-hospital-user fa-xs"></i></mat-icon></button>
    <button (click)="TrocaSenha()" mat-menu-item>Troca Senha <mat-icon><i style="color: rgb(173, 131, 52);"
          class="fa-solid fa-key fa-xs"></i></mat-icon></button>
  </mat-menu>



  <button class="ButonCabecalho buttonMenu " mat-button [matMenuTriggerFor]="menu">
    <mat-icon class="icons">menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="cadastraPaciente()">Cadastrar Paciente <mat-icon><i
          style="color: rgb(126, 231, 143);" class="fa-solid fa-user fa-xs"></i></mat-icon>
    </button>

    <button mat-menu-item (click)="cadastraMedico()">Cadastra Medico <mat-icon><i style="color: rgb(98, 156, 211);"
          class="fa-solid fa-user-doctor fa-xs"></i></mat-icon>
    </button>

    <button mat-menu-item>Quem Somos <mat-icon><i class="fa-solid fa-circle-question fa-xs"></i></mat-icon>
    </button>

    <button mat-menu-item>Atendimento ao Cliente <mat-icon><i class="fa-solid fa-circle-info fa-xs"></i></mat-icon>
    </button>
  </mat-menu>



  <button class="ButonCabecalho buttonMenu" (click)="Menu()">
    <i class="fa-solid fa-house fa-2xl">
    </i></button>




  <label style="margin-left: 25px;" (click)="Menu()">Bem Vindo {{Usuario?.AdmNome || Usuario?.UsuNome }}</label>

  <span class="example-spacer"></span>


  <button class="ButonCabecalho exit buttonMenu" (click)="logout()" mat-icon-button>
    <mat-icon class="icons">exit_to_app</mat-icon>
    <i class="fa-solid fa-exit "></i>
  </button>

  <!-- troca tudo para o fontWaesonem -->

</mat-toolbar>
