<body>
  <div>


    <div class="divPediatria">

      <mat-form-field class="example-full-width">
        <mat-label>Modelo Prescrição</mat-label>
        <input matInput type="text" [(ngModel)]="ModeloPrescricao" name="FreqArterialSistolica">
      </mat-form-field>


      <mat-form-field class="example-full-width">
        <mat-label>Titulo Prescricao</mat-label>
        <input matInput type="text" [(ngModel)]="TituloPrescricao" name="FreqRespiratoria">
      </mat-form-field>



      <mat-form-field class="example-full-width">
        <mat-label>Data Prescricao</mat-label>
        <input matInput type="date" [(ngModel)]="DataPrescricao" name="FreqArterialDiastolica">
      </mat-form-field>
    </div>


    <div style="display: flex; margin: 10px;">
      <mat-form-field class="example-full-width">
        <mat-label>Prescrição</mat-label>
        <textarea matInput style="width: 100%; height: 100px;"   [(ngModel)]="Prescricao" name="Anamnese"></textarea>
      </mat-form-field>
    </div>

    <div style="display: flex; margin: 10px; justify-content: center;">
      <button mat-raised-button color="primary" (click)="Proximo()">Proximo</button>
    </div>

  </div>
</body>
