.dashboard-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #a7a4a465;
  border-radius: 8px;
  box-shadow: 0 0 10px #151515eb;
}

.dashboard-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.dashboard-item {
  margin: 40px;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.dashboard-item.smaller {
  padding: 10px;
  width: 70%;  /* Ajustar conforme necessário */
  margin: 0 auto;
}

.dashboard-item canvas {
  width: 100% !important;
  height: auto !important;
}

.grid {

  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}


.divOperacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
}

.btnRecarregar {
  border: none;
  background-color: rgb(206, 212, 212);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btnRecarregar:active {
  background-color: rgb(184, 183, 183);
}

.btn-label {
  font-size: 10px;
  font-weight: bold;
  color: #000;
  margin-top: 5px;

}
.Pesquisar{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5px;
  width: 200px;
  padding: 10px; ;

  cursor: pointer;
  background-color: rgba(35, 80, 215, 0.315);
  border-radius: 5px;
  color: rgb(8, 8, 8);
  animation-duration: 3s;
  animation-name: aparecer;

}


.btnPesquisar{
  border: none;
  background-color: rgb(206, 212, 212);
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

}

.divPesquisar{
  display: flex;
  justify-content: center;

}

@media (max-width: 768px) {
  .dashboard-row {
    grid-template-columns: 1fr;
  }
}
