body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.dashboard-container {
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: #a7a4a465;
  border-radius: 8px;
  box-shadow: 0 0 10px #151515eb;
}

.title-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  margin-bottom: 20px;
}

.divOperacoes {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
}

.btn-label {
  font-size: 12px;
  font-weight: bold;
  color: #000;
  margin-top: 5px;
}

.search-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.Pesquisar {
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.btnPesquisar {
  border: none;
  background-color: rgb(206, 212, 212);
  padding: 10px;
  margin-left: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.filter-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.filter-option {
  margin: 10px;
}

.table-container {
  width: 100%;
  overflow-x: auto;
}


/* Responsividade */
@media (max-width: 768px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .title-container h1 {
    font-size: 20px;
    text-align: center;
  }

  .filter-container {
    justify-content: center;
  }

  .filter-option {
    margin: 5px;
  }
}

@media (max-width: 480px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .Pesquisar {
    max-width: 200px;
  }
}
