<body>
  <div>

    <div class="dashboard-container">
      <div class="title-container">
        <h1>Gerenciamento de Usuários</h1>
      </div>

      <div class="grid">
        <div class="divOperacoes" title="Adicionar Medico" (click)="AdicionarMedico()">
          <i class="fa-solid fa-user-nurse fa-xl" style="color: #035e31;"></i>
          <span class="btn-label">Adicionar <br> Medico</span>
        </div>
        <div class="divOperacoes" title="Adicionar Paciente" (click)="AdicionarPaciente()">
          <i class="fa-solid fa-user-plus fa-xl" style="color: #f2a957;"></i>
          <span class="btn-label">Adicionar <br> Paciente</span>
        </div>
        <div class="divOperacoes" title="Adicionar Secretaria" (click)="AdicionarSecretaria()">
          <i class="fa-solid fa-user-pen fa-xl" style="color: #8d0544;"></i>
          <span class="btn-label">Adicionar <br> Secretaria</span>
        </div>
        <div class="divOperacoes" title="Adicionar Administrador" (click)="AdicionarAdministrador()">
          <i class="fa-solid fa-user-shield fa-xl" style="color: #10058d;"></i>
          <span class="btn-label">Adicionar <br> Administrador</span>
        </div>
      </div>

      <div class="search-container">
        <input type="text" class="Pesquisar" [(ngModel)]="searchText" placeholder="Pesquisar...">
        <button class="btnPesquisar" type="submit" (click)="PesquisaDados()">
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      </div>

      <div class="filter-container">
        <div class="filter-option">
          <input type="radio" name="radio" id="radio1" [(ngModel)]="radioValue" value="1"
            (change)="PesquisaCategoria()">
          <label for="radio1">Apenas Pacientes</label>
        </div>
        <div class="filter-option">
          <input type="radio" name="radio" id="radio2" [(ngModel)]="radioValue" value="2"
            (change)="PesquisaCategoria()">
          <label for="radio2">Apenas Medicos</label>
        </div>
        <div class="filter-option">
          <input type="radio" name="radio" id="radio3" [(ngModel)]="radioValue" value="3"
            (change)="PesquisaCategoria()">
          <label for="radio3">Apenas Secretarias</label>
        </div>
        <div class="filter-option">
          <input type="radio" name="radio" id="radio4" [(ngModel)]="radioValue" value="4"
            (change)="PesquisaCategoria()">
          <label for="radio4">Apenas Administradores</label>
        </div>
        <div class="filter-option">
          <input type="radio" name="radio" id="radio5" [(ngModel)]="radioValue" value="5"
            (change)="PesquisaCategoria()">
          <label for="radio5">Todos</label>
        </div>
      </div>
      <hr>
      <br>
      <div style="display: flex; justify-content: center;">
        <div class="table-container">
          <app-tabela-todos-usuarios (LimparCampos)="limparCampos()"></app-tabela-todos-usuarios>
        </div>
      </div>
    </div>
  </div>
</body>
