<div style="  display: flex;">
  <div class="container">
    <h2>Crie seu login </h2>
    <form id="cadastroForm" class="responsivo" [formGroup]="FormularioUsuario">
      <div class="form-group">
        <label for="login">login:</label>
        <input  [(ngModel)]="Usuario.login"  formControlName="login" type="text" id="login" name="login" placeholder="Exp:. CPF , Email ,telefone " required>
      </div>

      <div class="form-group">
        <label for="novaSenha">
          <font color="#FF0000"><b>* </b></font> Insira a nova Sernha
          <font color="#FF0000">*</font> - Senhas com 8 caracteres
        </label>
        <input [(ngModel)]="Usuario.senha" formControlName="password" type="password" id="password" name="password" placeholder="Senha deve conter mais de 8 caracteres"
          required>
      </div>

    </form>
    <button type="submit" (click)="cadatraUsuario()" *ngIf="FormularioUsuario.valid ;  else elseBlock ">Cadastrar</button>
    <br>
    <br>
    <ng-template #elseBlock><i>
      <font color="#FF0000"><b>*Dados não são validos. </b></font>
    </i></ng-template>


  </div>
</div>
