<body>
  <main>
    <form class="formulario" [formGroup]="FormularioMedicos">
      <button style="border: hidden; background-color: rgb(206, 212, 212)" (click)="voltarParaHome()">
        <i class="fa-solid fa-arrow-left fa-xl"></i>
      </button>
      <div class="header">
        <div class="header_pesquisa">
          <div class="header_pesquisa_container">
            <p class="label_filtro_PESQUISA">Pesquisar Médicos</p>
            <div class="header_pesquisa_input">
              <input type="text" id="Pesquisa" name="Pesquisa" required formControlName="PesquisaMedicos">
              <button (click)="Pesquisar('medico')">Pesquisar</button>
            </div>
          </div>
          <div>
            <ul class="header_options_Lista">
              <li>Nome
                <input formControlName="OptionsFindMedicos" class="input_filtro" type="radio" [value]="1" required>
              </li>

              <li>CRM
                <input formControlName="OptionsFindMedicos" class="input_filtro" type="radio" [value]="2" required>
              </li>

              <li>Cidade
                <input formControlName="OptionsFindMedicos" class="input_filtro" type="radio" [value]="3" required>
              </li>

              <li>Especialidade
                <input formControlName="OptionsFindMedicos" class="input_filtro" type="radio" [value]="4" required>
              </li>

              <li>Buscar todos
                <input formControlName="OptionsFindMedicos" class="input_filtro" type="radio" [value]="5" required>
              </li>

            </ul>
          </div>
        </div>
        <div class="header_user">
          <i class="fa-solid fa-user fa-xl"></i>
          <div class="header_user_info">
            <p>Código:{{Medico.medCodigo }}</p>
            <p>Nome do Medico :{{Medico.medNome }}</p>
            <p>Especialidade:{{Medico.medEspecialidade }}</p>
            <p>Telefone:{{Medico.medTelefone }}</p>
            <p>Email:{{Medico.medEmail }}</p>
            <p>CRM:{{Medico.medCrm }}</p>

          </div>
        </div>
      </div>
    </form>


    <hr>

    <form class="formulario" [formGroup]="FormularioPaciente">
      <div class="header">
        <div class="header_pesquisa">
          <div class="header_pesquisa_container">
            <p class="label_filtro_PESQUISA">Pesquisar Pacientes</p>
            <div class="header_pesquisa_input">
              <input type="text" id="Pesquisa" name="Pesquisa" required formControlName="PesquisaPaciente">
              <button (click)="Pesquisar('paciente')">Pesquisar</button>
            </div>
          </div>
          <div>
            <ul class="header_options_Lista">
              <li>Nome
                <input formControlName="OptionsFindPaciente" class="input_filtro" type="radio" [value]="1" required>
              </li>

              <li>CPF
                <input formControlName="OptionsFindPaciente" class="input_filtro" type="radio" [value]="2" required>
              </li>

              <li>RG
                <input formControlName="OptionsFindPaciente" class="input_filtro" type="radio" [value]="3" required>
              </li>

              <li>Telefone
                <input formControlName="OptionsFindPaciente" class="input_filtro" type="radio" [value]="4" required>
              </li>

              <li>Buscar todos
                <input formControlName="OptionsFindPaciente" class="input_filtro" type="radio" [value]="5" required>
              </li>

            </ul>
          </div>
        </div>
        <div class="header_user">
          <i class="fa-solid fa-user fa-xl"></i>
          <div class="header_user_info">
            <p>Código: {{Paciente.paciCodigo }}</p>
            <p>Nome do paciente : {{Paciente.paciNome }}</p>
            <p>Telefone: {{Paciente.paciTelefone }}</p>
            <p>Email: {{Paciente.paciEmail }}</p>
            <p>CPF: {{Paciente.paciCpf }}</p>
            <p>RG: {{Paciente.paciRg }}</p>
          </div>
        </div>
      </div>
    </form>

    <hr>



    <div class="comment" [formGroup]="FormularioConsulta">

      <div>
        <p class="comment_title">Observação:</p>
        <textarea formControlName="observacao" class="textarea" type="text"
          placeholder="Tem alguma observação? Quais:"> </textarea>
      </div>

      <div>
        <p>
          <font style="color: red; font-size: 12px;">* </font>Data
        </p>
        <input class="input_DATA" formControlName="date" type="date" id="date" name="date"
          (change)="onDateChange($event)">
      </div>


      <div>
        <p>
          <font style="color: red; font-size: 12px;">* </font>Hora
        </p>
        <select class="input_HORA" formControlName="time" name="time" id="time">
          <option *ngFor="let time of Hora" [value]="time.value">{{time.label}}</option>
        </select>
      </div>



      <select class="input_Forma_Pagamento" formControlName="Pagamento" name="Pagamento" id="Pagamento">
        <option>Forma de Pagamento</option>
        <option>Cartao</option>
        <option>Dinheiro</option>
        <option>Pix</option>
      </select>




    </div>

    <div class="folder">
      <button class="btnMarcar_consulta" (click)="marcarConsulta()">Marca Consulta</button>
    </div>

  </main>
</body>