@media screen and (min-width: 750px) {
  .input_filtro {
    margin-left: -9px;
  }

  .input_DATA {
    display: flex;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    width: 105px;
    border-color: #000000;
  }

  .label_filtro_DATA {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }

  .label_filtro_Hora {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }

  .input_HORA {
    display: flex;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    width: 105px;
    border-color: #000000;
  }

  .input_Forma_Pagamento{
    display: flex;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    width: 180px;
    border-color: #000000;
  }

  .label_filtro_PESQUISA {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }

  .input_search {
    display: flex;
    border-radius: 5px;
    margin-left: 10px;
    padding: 10px;
    width: 400px;
    border-color: #000000;
  }

  .btnPesquisar {
    padding: 20px;
    margin-top: 20px;
    padding: 10px;
    background-color: rgb(49, 168, 59);
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .btnMarcar_consulta{
    padding: 20px;
    margin-top: 20px;
    margin-left: 10px;
    padding: 10px;
    background-color: rgb(49, 168, 59);
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .label_filtro {
    margin-top: 0;
    margin: 10px;
    padding: 10px;
  }

  .label_filtro_Observacao {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }

  .textarea_observacao {
    margin-left: 10px;
    width: 550px;
    height: 100px;
  }
}
