<body>
  <div class="desktop">

  <form class="formulario"  [formGroup]="FormGroupConsulta">


    <div class="grid-container">
      <div class="grid-container_Insade">
        <div>
          <label class="label_filtro_PESQUISA">Pesquisar Pacientes </label>
          <input class="input_search" type="text" id="Pesquisa" name="Pesquisa" required formControlName="PesquisaPaciente">
        </div>
        <div>
          <button class="btnPesquisar" (click)="PesquisarPacientes()">Pesquisar</button>
        </div>
      </div>

      <div class="grid-container-user">
         <i class="fa-solid fa-user fa-xl" style="color: #2c3230;"></i>
        <div *ngIf="PacienteEscolhido" >

          <label style="font-size: 12px;margin-left: 10px;">
            <strong>Codigo: </strong> {{PacienteEscolhido.paciCodigo}},
            <strong>Nome: </strong> {{PacienteEscolhido.paciNome}}
            <strong>Telefone: </strong> {{PacienteEscolhido.paciTelefone}},
            <strong>CPF:</strong> {{PacienteEscolhido.paciCpf}},
            <strong>Email:</strong> {{PacienteEscolhido.paciEmail}},
            <strong>RG:</strong> {{PacienteEscolhido.paciRg}}
          </label>
        </div>
      </div>
    </div>


    <div class="filtro-container" >
      <label class="label_filtro">Nome</label>
      <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="1" required>

      <label class="label_filtro">CPF</label>
      <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="2" required>

      <label class="label_filtro">RG</label>
      <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="3" required>

      <label class="label_filtro">Telefone</label>
      <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="4" required>

      <label class="label_filtro">Buscar Todos</label>
      <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="5" required>
    </div>

  </form>



  <form class="fomulario"  [formGroup]="FormGroupConsulta">
    <div>


      <br>
      <div  class ="grid-containerInfo"  >
        <div style="margin: 3px;">
          <label class="label_filtro_Observacao">Observação:</label>
          <br>
          <textarea formControlName="observacao" class="textarea_observacao" type="text" placeholder="Tem alguma observação? Quais:"> </textarea>
        </div>

        <div>
          <label class="label_filtro_DATA">
            <font style="color: red; font-size: 12px;">* </font>Data
          </label>
          <input class="input_DATA" formControlName="date" type="date" id="date" name="date" (change)="onDateChange($event)">
        </div>

        <div>
          <label class="label_filtro_Hora">
            <font style="color: red; font-size: 12px;">* </font>Hora
          </label>
          <select class="input_HORA" formControlName="time" name="time" id="time" [disabled]="!Medico || !DataSelecionada">
            <option *ngFor="let time of Hora" [value]="time.value">{{time.label}}</option>
          </select>
        </div>




        <div class="grid-containerPAGAMENTO">
          <div >
            <select class="input_Forma_Pagamento" formControlName="Pagamento" name="Pagamento" id="Pagamento">
              <option>Forma de Pagamento</option>
              <option>Cartao</option>
              <option>Dinheiro</option>
              <option>Pix</option>
            </select>
          </div>

          <div>
            <button class="btnMarcar_consulta" (click)="marcarConsulta()">Marca Consulta</button>
          </div>
        </div>
      </div>
    </div>

    <br>

    <app-tabela-de-pacientes *ngIf="showResultadoPaciente" [dadosPaciente]="dadosPaciente" (fechar)="fecharTabela()" (selecionaPaciente)="PacienteSelecionado($event)">
    </app-tabela-de-pacientes>

  </form>

  </div>
</body>

