<div id="pdfContent">
  <hr>
  <div style="display: flex; justify-content: left;">
    <div style="align-items: left; margin-left: 10px; font-size: 12px;">
       <label style="font-size: 12px; margin-left: 10px;">Dr: {{  NomeMedico }}</label>

      <br>
      <label style="font-size: 9px; margin-left: 10px; margin-top: -15px;">CRM: {{ Crm }}</label>
      <br>
      <label style="font-size: 9px; margin-left: 10px; margin-top: -15px;">Especialidade: {{ Especialidade }}</label>
    </div>
  </div>
  <hr>
  <div>
    <label style="font-size: 20px; margin-left: 10px;">Exame </label>
    <br>
    <label style="font-size: 12px; margin-left: 10px;">Data: {{ Data}}</label>
    <br>
    <label style="font-size: 12px; margin-left: 10px;">Informação: {{'Pedido de Exames Laboratoriais' }}</label>
    <div class="undefined campoTexto" appAutoResize>{{ Prescricao }}</div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <hr>
</div>
<button (click)="GerarPDF()">Imprimir</button>
