.campoTexto {
  white-space: pre-wrap; /* Mantém quebras de linha e espaços */
  word-wrap: break-word; /* Quebra palavras longas */
  overflow: hidden; /* Oculta overflow */
  padding: 10px; /* Adiciona algum padding */
  border: 1px solid #ccc; /* Adiciona uma borda */
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px; /* Adiciona borda arredondada */
}
