@media screen and (min-width: 750px) {

  .desktop {

    flex-direction: column;
    position: relative;
    height: 100vh;
  }

  .rectangle {
    background-color: rgb(206, 214, 219);
    height: 690px;
    display: flex;
    justify-content: center;
  }


  .fomulario {
    background-color: white;
    height: 480px;
    border: 1px solid;
    width: 650px;
    border-radius: 10px;
    margin: 35px;
  }

  .fomularioTrocarSenha{
    background-color: white;
    height: 280px;
    border: 1px solid;
    width: 590px;
    border-radius: 10px;
    margin: 35px;
  }


  button {
    margin: 10px;
    border: hidden;
    background-color: rgb(128, 158, 223);
    color: black;
    padding: 10px;
    border-radius: 5px;
   cursor: pointer;
  }

  label{
    font-weight: bold;
    margin: 10px;
    display: flex;
  }
  input{
    margin: 10px;
    display: flex;
    width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  .custom-spinner {
    width: 100px;  /* Defina o tamanho desejado */
    height: 100px; /* Defina o tamanho desejado */
    background: url('../../../assets/imagens/cruz.png') no-repeat center center;
    background-size: contain;
    position: relative;
    animation: rotate 5s linear infinite;
    background-size: 30px 30px; /* Diminuir a imagem para 50x50 pixels */
    margin-top: -80px;
    margin-left: 110px;
  }

  .custom-spinner::before {
    content: "";
    display: block;
    padding-top: 100%; /* Manter a proporção da imagem */
  }

  .mat-spinner circle {
    stroke: none; /* Remove a cor de fundo do círculo */
  }



}
