<div style="  display: flex;">
  <div class="container">
    <div style="  justify-content: left; display: flex; margin-top: -15px; margin-left: -20px;">
      <button style="border: hidden;   background-color: #f4f4f4;" (click)="voltarParaHome()">
        <i class="fa-solid fa-arrow-left fa-xl"></i>
      </button>
    </div>
    <br>
    <h2>Cadastro de Secretaria</h2>
    <form id="cadastroForm" class="responsivo" [formGroup]="FormularioSecretaria">
      <div class="form-group">
        <label for="nome">
          <font color="#FF0000"><b>* </b></font> Nome :
        </label>
        <input [(ngModel)]="Secretaria.SecreNome" formControlName="nome" type="text" id="nome" name="nome" required>
      </div>

      <div class="form-group">
        <label for="Email">
          <font color="#FF0000"><b>* </b></font> Email :
        </label>
        <input [(ngModel)]="Secretaria.SecreEmail" formControlName="Email" type="text" id="Email" name="Email"
          required>
      </div>
      <br>
      <div class="form-group">
        <label for="codAutorizacao">
          <font color="#FF0000"><b>* </b></font> Por favor, insira o codigo de autorização:
        </label>
        <input  formControlName="codAutorizacao" type="password"
          id="codAutorizacao" name="codAutorizacao" required>
      </div>
    </form>
    <button class="buttonCadastrar" (click)="cadastra()" type="submit">Cadastrar</button>
    <br>

  </div>
</div>
<br><br>
