<app-cadastro-usuario [RolesUsuario]="RolesUsuarioMedico" (UsuarioCadastrado)="onUsuarioCadastrado($event)"></app-cadastro-usuario>
<div >
  <div class="container" [ngClass]="{'blurred':  FormularioUsuaroValido}">
    <h2>Cadastro de Secretaria</h2>
    <form id="cadastroForm" class="responsivo" [formGroup]="FormularioSecretaria">
      <div class="form-group">
        <label for="nome">
          <font color="#FF0000"><b>* </b></font> Nome :
        </label>
        <input [(ngModel)]="Secretaria.SecreNome" formControlName="nome" type="text" id="nome" name="nome" required>
      </div>

      <div class="form-group">
        <label for="Email">
          <font color="#FF0000"><b>* </b></font> Email :
        </label>
        <input [(ngModel)]="Secretaria.SecreEmail" formControlName="Email" type="text" id="Email" name="Email"
          required>
      </div>

      <div class="form-group">
        <label for="codAutorizacao">
          <font color="#FF0000"><b>* </b></font> Por favor, insira o codigo de autorização:
        </label>
        <input  formControlName="codAutorizacao" type="password"
          id="codAutorizacao" name="codAutorizacao" required>
      </div>
    </form>
    <button class="buttonCadastrar" (click)="cadastra()" type="submit">Cadastrar</button>
  </div>
</div>

