<div style="  display: flex;">
  <div class="container">
    <h2>Recupera senha ou login </h2>

    <form [formGroup]="FormularioEmail" *ngIf="CampoEmail">
      <label>Insira seu email</label>
      <input type="email" id="email" name="email" formControlName="email">
      <button style="margin: 5px;" (click)="enviarEmail()">Enviar</button>

      <!-- Use o mat-progress-spinner com ngIf usando a variável isLoading -->
      <mat-progress-spinner *ngIf="isLoading" diameter="30" mode="indeterminate"></mat-progress-spinner>
    </form>



    <form *ngIf="emailValido()" [formGroup]="FormularioCodigo">
      <Label>Insira codigo de verificacao que foi enviado ao seu email </Label>
      <input type="codigo" id="codigo" name="codigo" formControlName="codigo">
      <button style="margin: 5px;" (click)="enviaCodigoVerificacao()">Enviar</button>
    </form>





    <form id="cadastroForm" class="responsivo" *ngIf="FormularioAceito">
      <div class="form-group">

        <div class=" ">
          <h1>Escolha uma opção:</h1>
          <button class="buttons" style="margin: 5px;" (click)="mostrarRecuperarSenha()">Recuperar Senha</button>

          <button class="buttons" style="margin: 5px;" (click)="mostrarRecuperarLogin()">Recuperar Login</button>

        </div>


        <div *ngIf="mostraSenha">
          <app-recupera-senha></app-recupera-senha>
        </div>


        <div *ngIf="mostralogin">

          <app-recupera-login></app-recupera-login>
        </div>
      </div>



    </form>

  </div>
</div>
