<div style="  display: flex;">
  <div class="container">
    <h2>Recupera senha ou login </h2> <i>
      <font color="#FF0000">*</font> - Campos Obrigatários
    </i>
    <br>
    <br>

    <form [formGroup]="FormularioEmail" *ngIf="CampoEmail">

      <br>
      <label>
        <font color="#FF0000"><b>* </b></font> Insira seu email
      </label>
      <input type="email" id="email" name="email" formControlName="email">
      <button style="margin: 5px;" (click)="enviarEmail()" *ngIf="FormularioEmail.valid">Enviar</button>

      <!-- Use o mat-progress-spinner com ngIf usando a variável isLoading -->
      <mat-progress-spinner *ngIf="isLoading" diameter="30" mode="indeterminate"></mat-progress-spinner>
    </form>



    <form *ngIf="emailValido()" [formGroup]="FormularioCodigo">
      <Label>
        <font color="#FF0000"><b>* </b></font> Insira codigo de verificacao que foi enviado ao seu email
      </Label>
      <input type="codigo" id="codigo" name="codigo" formControlName="codigo">
      <button style="margin: 5px;" (click)="enviaCodigoVerificacao()" *ngIf="FormularioCodigo.valid">Enviar</button>
    </form>





    <form id="cadastroForm" class="responsivo" *ngIf="FormularioAceito">
      <div class="form-group">

        <div class=" ">
          <h1>Escolha uma opção:</h1>
          <button class="buttons" style="margin: 5px;" (click)="mostrarRecuperarSenha()">Recuperar Senha</button>

          <button class="buttons" style="margin: 5px;" (click)="mostrarRecuperarLogin()">Recuperar Login</button>

        </div>


        <div *ngIf="mostraSenha">

          <form [formGroup]="FormularioNovaSenha">

            <br>
            <label for="novaSenha">
              <font color="#FF0000"><b>* </b></font> Insira a nova Sernha
              <font color="#FF0000">*</font> - Senhas com 8 caracteres
            </label>
            <input formControlName="password" type="password" name="password" id="password">

            <br>
            <br>
            <label for="novaSenha">
              <font color="#FF0000"><b>* </b></font>Repita a Sernha
            </label>
            <input formControlName="password2" type="password2" name="password2" id="password2" type="password">

            <br>
            <br>
            <button (click)="Confirmar()" *ngIf="FormularioNovaSenha.valid ;  else elseBlock ">Confirma</button>

            <ng-template #elseBlock><i>
                <font color="#FF0000"><b>*Senhas não correspondem. </b></font>
              </i></ng-template>

          </form>

        </div>


        <div *ngIf="mostralogin">
          <span>O Login de sua conta foi enviado por email </span>
        </div>
      </div>



    </form>

  </div>
</div>
