
<head>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>

</head>

<body>
  <div class="model"   >

    <div class="container">
        <h1>Bem-vindo à nossa plataforma de saúde!</h1>
        <p>Aqui você pode encontrar médicos e agendar consultas facilmente.</p>
        <p>Se você ainda não possui uma conta, você pode criar uma agora:</p>
        <div class="buttons">
            <a (click)="cadastraPaciente()" class="btn">Criar conta como Paciente</a>
            <a (click)="cadastraMedico()" class="btn">Criar conta como Médico</a>
        </div>
    </div>
  </div>
</body>

