<div class="desktop">



  <div class="rectangle">

    <div>



      <form class="fomulario"  [ngClass]="{'aumentar-altura': PacienteEscolhido}" [formGroup]="FormGroupConsulta">
        <div style="margin-left: 10px; margin-top: 10px; ">
          <button  style=" border: hidden; background-color: white;" (click)="voltarParaPesquisaMedicos()">
            <i class="fa-solid fa-arrow-left fa-xl"></i>
          </button>
        </div>



        <div class="grid-container">

          <div>


            <label class="label_filtro_DATA">
              <font style="color: red; font-size: 12px;">* </font>Data
            </label>
            <input class="input_DATA" formControlName="date" type="date" id="date" name="date"
              (change)="onDateChange($event)">


            <br><br>
            <label class="label_filtro_Hora">
              <font style="color: red; font-size: 12px;">* </font>Hora
            </label>
            <select class="input_HORA" formControlName="time" name="time" id="time">
              @for (time of Hora; track time) {
              <option [value]="time.label">{{time.label}}</option>
              }
            </select>


            <br>
            <br>

            <label class="label_filtro_PESQUISA">Pesquisar Paciente </label>
            <input class="input_search" type="text" id="Pesquisa" name="Pesquisa" required
              formControlName="PesquisaPaciente">
            <button class="btnPesquisar" (click)="PesquisarPacientes()">Pesquisar</button>

            <br>
            <div style=" display: flex; margin-top: -20px;   width: 450px;">

              <label class="label_filtro">Nome</label>
              <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="1" required>

              <label class="label_filtro">CPF</label>
              <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="2" required>

              <label class="label_filtro">RG</label>
              <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="3" required>

              <label class="label_filtro">Telefone</label>
              <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="4" required>

              <label class="label_filtro">Buscar Todos</label>
              <input formControlName="FiltroPesquisaPaciente" class="input_filtro" type="radio" [value]="5" required>

            </div>


            <app-tabela-de-pacientes *ngIf="showResultadoPaciente" [dadosPaciente]="dadosPaciente" (fechar)="fecharTabela()" (selecionaPaciente)="PacienteSelecionado($event)"></app-tabela-de-pacientes>

            <div *ngIf="PacienteEscolhido" style="   width: 600px;">
              <div style="border: 1px solid ; border: hidden;">
                 - <i class="fa-solid fa-user fa-xs" style="color: #63E6BE;"></i>
                <label style="font-size: 12px;margin-left: 10px;"  >{{PacienteEscolhido.paciNome}} ,
                  {{PacienteEscolhido.paciCpf}},
                  {{PacienteEscolhido.paciDataNacimento}},
                  {{PacienteEscolhido.paciEmail}},
                  {{PacienteEscolhido.paciRg}}
                </label>
              </div>
              <hr>
              <br>
            </div>

            <div>
              <label class="label_filtro_Observacao">Observação:</label>
              <textarea formControlName="observacao" class="textarea_observacao" type="text"
                formControlName="observacao">
                 {{observacao}}
                 </textarea>
            </div>


            <br><br>
            <div class="divbtnFP">
              <button class="botaoFormaPagamento " (click)="pagamento=true">Forma de Pagamento</button>
            </div>

          </div>


          <div style="  height: 80px;">

            <label>
              <font style="color: red; font-size: 10px;">* Preencha os campos ao lado pra realizar a consulta </font>
            </label><br>

            <i>
              <font style="color: red; font-size: 10px;">* <label>{{horario}}</label><br></font>
            </i>

            <i>
              <font style="color: red; font-size: 10px;">* <label>As {{DiasDeFunionamento}}</label><br></font>
            </i>


          </div>
          <br>


        </div>
      </form>








      <form *ngIf="pagamento"   [ngClass]="{'aumentar-pagamento': pagamento}"   class="fomularioPagamneto" [formGroup]="FormGroupConsulta">
        <ul>Como deseja pagar no local de consulta?</ul>
        <div>

          <label class="label_filtro">Dinheiro</label>
          <input formControlName="Pagamento" class="input_filtro" type="radio" [value]="1" required>

          <label class="label_filtro">Cartao</label>
          <input formControlName="Pagamento" class="input_filtro" type="radio" [value]="2" required>

          <label class="label_filtro">PIx</label>
          <input formControlName="Pagamento" class="input_filtro" type="radio" [value]="3" required>

        </div>

        <div class="divbtnMC">
          <button class="botaoMarcaConsulta" (click)="marcarConsulta()">Marca consulta</button>
        </div>


      </form>


    </div>


  </div>


</div>
