<form class="fomulario">
  <div id="pdfContent">
    <div style="display: flex; justify-content: center;  align-items: center;margin-top: 20px;">
      <h2>Detalhes da Consulta</h2>
    </div>
    <hr>
    <div style="margin-left: 20px; display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
      <div>
        <h3>Médico</h3>
        <p style="margin-top: -20px; font-size: 12px;"><strong>Codigo Médico:</strong> {{
          DadosPDFConsulta.ConMedico.medCodigo }}</p>
        <hr>
        <p><strong>Nome:</strong> {{ DadosPDFConsulta.ConMedico.medNome }}</p>
        <p><strong>Sexo:</strong> {{ SexoMedico }}</p>
        <p><strong>Idade:</strong> {{ IdadeMedico }} anos </p>
        <p><strong>Data de Nascimento:</strong> {{ DadosPDFConsulta.ConMedico.medDataNacimento }}</p>
        <p><strong>CRM:</strong> {{ DadosPDFConsulta.ConMedico.medCrm }}</p>
        <p><strong>Email:</strong> {{ DadosPDFConsulta.ConMedico.medEmail }}</p>
        <p><strong>Especialidade:</strong> {{ DadosPDFConsulta.ConMedico.medEspecialidade }}</p>
        <p><strong>CPF:</strong> {{ DadosPDFConsulta.ConMedico.medCpf }}</p>
        <p><strong>RG:</strong> {{ DadosPDFConsulta.ConMedico.medRg }}</p>
        <p><strong>Telefone:</strong> {{ DadosPDFConsulta.ConMedico.medTelefone }}</p>
        <p><strong>Formacao:</strong> {{ DadosPDFConsulta.ConMedico.medFormacoes }}</p>
        <p><strong>Graduacao:</strong> {{ DadosPDFConsulta.ConMedico.medGraduacao }}</p>
      </div>
      <div>
        <h3>Paciente</h3>
        <p style="margin-top: -20px; font-size: 12px;"><strong>Codigo Paciente:</strong> {{
          DadosPDFConsulta.ConPaciente.paciCodigo }}</p>
        <hr>
        <p><strong>Nome:</strong> {{ DadosPDFConsulta.ConPaciente.paciNome }}</p>
        <p><strong>Sexo:</strong> {{ SexoPaciente }}</p>
        <p><strong>Idade:</strong> {{ IdadePaciente }} anos</p>
        <p><strong>Data de Nascimento:</strong> {{ DadosPDFConsulta.ConPaciente.paciDataNacimento }}</p>
        <p><strong>CPF:</strong> {{ DadosPDFConsulta.ConPaciente.paciCpf }}</p>
        <p><strong>RG:</strong> {{ DadosPDFConsulta.ConPaciente.paciRg }}</p>
        <p><strong>Email:</strong> {{ DadosPDFConsulta.ConPaciente.paciEmail }}</p>
        <p><strong>Telefone:</strong> {{ DadosPDFConsulta.ConPaciente.paciTelefone }}</p>
      </div>
    </div>
    <hr>
    <div style="  margin-left: 20px;">
      <h3><strong>Nº Registro:</strong> {{ DadosPDFConsulta.ConCodigoConsulta }}</h3>
      <div *ngIf="DadosPDFConsulta.ConStatus">
        <p><strong>Status:</strong>
          <span *ngIf="DadosPDFConsulta.ConStatus === 0">Aberta</span>
          <span *ngIf="DadosPDFConsulta.ConStatus === 1">Concluído</span>
          <span *ngIf="DadosPDFConsulta.ConStatus === 2">Fechada</span>
        </p>
      </div>
      <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
        <div>
          <p><strong>Data da Consulta:</strong> {{ DadosPDFConsulta.ConDia_semana.toUpperCase() }} - {{ dataPadraoBR }}
          </p>
          <hr>
          <p><strong>Hora:</strong> {{ DadosPDFConsulta.ConHorario }}</p>
          <hr>
          <p><strong>Data de Criação:</strong> {{ dataCriacaoPadraoBr }}</p>
          <hr>
          <div *ngIf="DadosPDFConsulta.ConFormaPagamento">
            <div *ngIf="DadosPDFConsulta.ConFormaPagamento === 1">
              <p style="margin-top: 20px;"><strong>Forma de Pagamento:</strong> Dinheiro </p>
              <img style="margin-left: 200px; margin-top: -100px" src="../../../../assets/imagens/logoDinheiro.png"
                alt="Dinheiro">
            </div>
            <div *ngIf="DadosPDFConsulta.ConFormaPagamento === 2">
              <p style="margin-top: 20px;"><strong>Forma de Pagamento:</strong> Cartao </p>
              <img style="margin-left: 200px; margin-top: -100px" src="../../../../assets/imagens/logoCartao.png"
                alt="Cartao">
            </div>
            <div *ngIf="DadosPDFConsulta.ConFormaPagamento === 3 ">
              <p style="margin-top: 20px;"><strong>Forma de Pagamento:</strong> Pix </p>
              <img style="margin-left: 200px; margin-top: -100px" src="../../../../assets/imagens/logoPix.png"
                alt="Pix">
            </div>
          </div>
          <hr>
          <div>
            <div>
              <p><strong>Observações:</strong></p>
            </div>
            <div style="margin-top: -25px; display: flex; justify-content: center;">
              <div style="width: 100%; height: 200px; margin: 10px; border-radius: 10px; border: 1px solid black;"
                disabled>
                <label style="margin: 10px;">
                  {{ DadosPDFConsulta.ConObservacoes }}
                </label>
              </div>
            </div>
          </div>
        </div>
        <div style="pointer-events: none;  margin-top: -50px; width: 80%;height: 100%; ">
          <mat-card class="demo-inline-calendar-card">
            <mat-calendar #calendar [(selected)]="selected"></mat-calendar>
          </mat-card>
          <div  >


            <div>
              <label> Responsável: {{DadosPDFConsulta.ConAdm.admNome}}</label><br>
              <label> Código : {{DadosPDFConsulta.ConAdm.admCodigo}}</label><br>
              <label> Nivel : {{NivelDeHierarquico}}</label>
            </div>


          </div>
        </div>
      </div>
    </div>
    <hr>
  </div>
</form>
<button (click)="GerarPDF()">Gerar PDF</button>
