<div class="desktop">
  <div class="container">
    <div class="grid-container" >
      <div class="rectangle">
        <button class="pesquisar" (click)="PesquisarMedicos()">
          <span class="texto">Pesquisa Por Medicos</span>
        </button>
        <div class="texto-abaixo" >
          <span class="estilo">
            Encontre um médico para atender às suas necessidades!<br>
            Clique aqui para explorar nossa lista de médicos especializados em diferentes áreas de saúde.
          </span>
        </div>

      </div>

      <div class="rectangle-2" style=" background-color: #337abd;"></div>
      <div class="rectangle-3" style=" background-color: #701579;"></div>
    </div>


  </div>
</div>
