<div class="desktop">
  <div class="overlap-group" >
    <div class="divCabecalhoDescktop">
      <button class="ButonCabecalho">
        <mat-icon>supervised_user_circle</mat-icon>
      </button>
      <button  class="ButonCabecalho">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <div style="margin: 50px;">
      <button class="ButonCabecalho exit"  >
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </div>

  </div>
  <div>
    <div class="grid-container">
      <div class="rectangle"   >
       <button class="pesquisar" (click)="PesquisarMedicos()">
      <span class="texto">Pesquisa Por Medicos</span>
    </button>
      </div>
      <div class="rectangle-2" style=" background-color: #337abd;"></div>
      <div class="rectangle-3" style=" background-color: #701579;"></div>
    </div>

    <div class="rectangle-4" style=" background-color: #080808;"></div>
  </div>
</div>
