@media screen and (min-width: 750px) {

  .desktop {
    display: flex;
    flex-direction: column;
    position: relative;
    /* Para garantir que os elementos posicionados absolutamente sejam relativos ao contêiner .desktop */
    height: 100vh;
    /* Ocupa toda a altura da tela */
  }


  .grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }



  .desktop .rectangle {
    margin-left: 30px;
    height: 280px;
    margin: 50px;
    margin-top: 150px;
    position: relative;
  }


  .texto-abaixo {
    margin: 5px;
    background-color: aliceblue;
    border-radius: 90px;
    margin-left: 170px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(29, 23, 23);
    font-size: 14px;
    font-weight: normal;
    text-align: center;
    width: 100%;
  }

  .estilo {
    font-size: 16px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    justify-items: centerS;
  }

  .desktop .rectangle-2 {
    margin-left: 30px;
    height: 280px;
    margin: 50px;
    margin-top: 150px;

  }

  .desktop .rectangle-3 {
    margin-left: 30px;
    height: 280px;
    margin: 50px;
    margin-top: 150px;
  }

  .pesquisar {
    position: relative;
    /* Adicionado para que o texto seja posicionado em relação a este botão */
    background: url(../../util/variados/imagens/pesquisar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    border: inset 4px;
    width: 100%;
    height: 100%;
    box-shadow: 0 12px 16px 0 rgba(182, 56, 56, 0.24), 0 17px 50px 0 rgba(160, 57, 57, 0.19);
  }

  .pesquisar:active {
    transform: translateY(2px);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
  }

  .pesquisar .texto {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(29, 23, 23);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }



  .pesquisar {
    cursor: pointer;
    /*isso e impotante*/
  }



}









@media screen and (max-width: 750px) {

  .desktop {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 100vh;

  }



    .rectangle {
    background: url(../../util/variados/imagens/pesquisar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    border: inset 4px;
    margin-left: 30px;
    height: 150px;
    margin: 20px;
    margin-top: 25px;
  }


  .texto-abaixo {
    margin: 10px;
    height: 80px;
    border: 10px;
    background-color: aliceblue;
    border-radius: 10px;
    border: 1px solid black;
    margin-left: 170px;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);

    font-weight: normal;
    text-align: center;

    width: 100%;
  }

  .estilo {
    top: 10px;
    font-size: 14px;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif;
    justify-items: centerS;
  }



   .rectangle-2 {
    margin-left: 30px;
    height: 280px;
    margin: 20px;
    margin-top: 130px;

  }

  .desktop .rectangle-3 {
    margin-left: 30px;
    height: 280px;
    margin: 50px;
    margin-top: 150px;
  }

  .pesquisar {
    position: relative;
    /* Adicionado para que o texto seja posicionado em relação a este botão */
    background: url(../../util/variados/imagens/pesquisar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    border: inset 4px;
    width: 100%;
    height: 100%;
    box-shadow: 0 12px 16px 0 rgba(182, 56, 56, 0.24), 0 17px 50px 0 rgba(160, 57, 57, 0.19);
  }

  .pesquisar:active {
    transform: translateY(2px);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
  }

  .pesquisar .texto {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(29, 23, 23);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }



  .pesquisar {
    cursor: pointer;
    /*isso e impotante*/
  }












}
