<body>
  <div>
    <div class="example-full-width">

      <mat-form-field>
        <mat-label>Filter</mat-label>
        <input matInput [formControl]="myControl" placeholder="Ex. Nome,Dia,Horario" #input>

        <mat-icon matSuffix (click)="limparPesquisa()" title="Limpa a pesquisa">clear</mat-icon>
        <mat-icon matSuffix (click)="resetarPesquisa()" title="Recarrega a tabela">restore</mat-icon>
      </mat-form-field>
    </div>

    <div>
      <ul style="list-style: none; padding: 0;">
        <li *ngFor="let option of paginatedOptions" style="display: flex; align-items: center; margin-left: 10px;">
          <label style="border-top: 1px solid black; padding-right: 5px;">
            {{ option.codigo }} - {{ option.label }}
          </label>
          <input type="radio" name="cid" (change)="selectOption(option)" />
        </li>
      </ul>
    </div>
    <div>
      <button class="anterior" (click)="goToPage(currentPage - 1)" [disabled]="currentPage === 1">Anterior</button>
      <span>Página {{ currentPage }} de {{ totalPages }}</span>
      <button class="anterior" (click)="goToPage(currentPage + 1)"
        [disabled]="currentPage === totalPages">Próxima</button>
    </div>
    <button class="proximo" (click)="Proximo()">Próximo</button>
  </div>
</body>
