<div class="desktop">

  <div>

    <div class="rectangle">

      <div class="grid-container">
        <div>
          <br>

          <form class="fomulario" [formGroup]="FormularioPesquisa">
            <br>
            <div *ngIf="MostraCamposDePEsquisa">
              <label class="label_search">
                <font style="color: red;">* Selecione a opcao abaixo para fazer a Pesquisa</font>
              </label>
              <br>
              <br>
              <div>
                <label class="label_search">Pesquisar Medicos </label>
                <input class="input_search" type="text" id="Pesquisa" name="Pesquisa" required
                  formControlName="Pesquisa">
                <button *ngIf="FormularioPesquisa.valid" class="btnPesquisar"
                  (click)="PesquisarMedicosFiltro()">Pesquisar</button>
              </div>
              <br>
              <div>

                <label class="label_filtro">Nome</label>
                <input formControlName="FiltroPesquisa" class="input_filtro" type="radio" [value]="1" required>

                <label class="label_filtro">CRM</label>
                <input formControlName="FiltroPesquisa" class="input_filtro" type="radio" [value]="2" required>

                <label class="label_filtro">Cidade</label>
                <input formControlName="FiltroPesquisa" class="input_filtro" type="radio" [value]="3" required>

                <label class="label_filtro">Especialidade</label>
                <input formControlName="FiltroPesquisa" class="input_filtro" type="radio" [value]="4" required>

              </div>
            </div>
            <br>

            <div *ngIf="mostraTabela">
              <app-tabelas-Pesquisas-Medicos></app-tabelas-Pesquisas-Medicos>
            </div>

          </form>

        </div>

        <div *ngIf="MostraDadosMedicos">
          <form class="fomularioMedico">

            <div style="justify-content: center; display: flex; margin-top: 50px;">
              <mat-icon style="  width: 100px; height: 100px;">
                <i class="fa-solid fa-user-doctor" style="color: rgb(142, 199, 221); font-size: 100px; "></i>
              </mat-icon>
            </div>


            <div>
              <br>

              <div class="informacoesMedicos" *ngIf="Medico.medNome">
                <hr>
                <label>Nome : {{Medico.medNome}}</label><br>
              </div>

              <div class="informacoesMedicos" *ngIf="Medico.medEspecialidade" >
                <hr>
                <label>Especialidade :   {{Medico.medEspecialidade}}</label><br>
              </div>

              <div class="informacoesMedicos" *ngIf="Medico.medTelefone">
                <hr>
                <label>Telefone  :   {{Medico.medTelefone}}</label><br>
              </div>

              <div class="informacoesMedicos" *ngIf="Medico.medEmpresa">
                <hr>
                <label>Empresa/Clinica :  {{Medico.medEmpresa}}   </label>  <br>
              </div>

              <div class="informacoesMedicos" *ngIf="Medico.medCrm">
                <hr>
                <label>CRM :  {{Medico.medCrm}} </label> <br>
              </div>

              <div class="informacoesMedicos" *ngIf="Medico.medFormacoes">
                <hr>
                <label>Formações : {{Medico.medFormacoes}}   </label>
              </div>

              <div class="informacoesMedicos" *ngIf="Medico.medGraduacao">
                <hr>
                <label>Graduacao : {{Medico.medGraduacao}}   </label>
              </div>

            </div>







          </form>
        </div>
      </div>

    </div>


  </div>

</div>
