@media screen and ( min-width: 750px) {

  .desktop {
    display: flex;
    flex-direction: column;
    position: relative; /* Para garantir que os elementos posicionados absolutamente sejam relativos ao contêiner .desktop */
    height: 100vh; /* Ocupa toda a altura da tela */
  }


.fomulario{
  background-color: white;
  height: 550px;
   border: 1px solid;
    border-radius: 10px;
}

  .desktop .rectangle-4 {
    position: fixed; /* Para fixar na parte inferior */
    bottom: 0;
    left: 0;
    width: 100%; /* Ocupa toda a largura */
    height: 50px; /* Altura desejada */
    background-color: #080808;
  }




  .label_search{
    margin-top: 0;
    margin: 6px;
    padding: 10px;
  }

  .input_search{
    width: 50%;
    margin-top: 0;
    display: flex;
    margin-left: 15px;
    padding: 10px;
  }

  .input_filtro{
    margin-left: -9px;
  }

  .label_filtro{
    margin-top: 0;
    margin: 10px;
    padding: 10px;
  }



.btnPesquisar {

    float: right;
    height: 35px;
    width: 100px;
    margin-right: 90px;
    position: relative;
    top: -40px;
    right: 0;
    padding: 10px;
    background-color: #007bff; /* Cor de fundo do botão */
    color: #fff; /* Cor do texto do botão */
    border: none;
    cursor: pointer;

}



  .grid-container {

    display: grid;
    grid-template-columns: 70% 30%;
    margin: 30px;
  }



  .desktop .icon-person {
    position: absolute;
    width: 83px;
    height: 69px;
    top: 36px;
    left: 180px;
  }

  .desktop .icon-logout {
    position: absolute;
    width: 56px;
    height: 57px;
    top: 40px;
    left: 1290px;
  }

  .desktop .icon-menu {
    position: absolute;
    width: 90px;
    height: 82px;
    top: 30px;
    left: 70px;
  }


.rectangle {
    margin-left: 30px;
    height: 450px;

    margin-top: 80px;
  }


/*
  .desktop .rectangle-2 {
    margin-left: 30px;
    height: 80px;

    margin: 50px;
    margin-top: 150px;

  } */


  .pesquisar {
    position: relative; /* Adicionado para que o texto seja posicionado em relação a este botão */
    background: url(../../util/variados/imagens/pesquisar.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    border: inset 4px;
    width: 100%;
    height: 100%;
    box-shadow: 0 12px 16px 0 rgba(182, 56, 56, 0.24), 0 17px 50px 0 rgba(160, 57, 57, 0.19);
  }

  .pesquisar:active {
    transform: translateY(2px);
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.24), 0 12px 30px 0 rgba(0, 0, 0, 0.19);
  }

  .pesquisar .texto {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(29, 23, 23);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
  }



  .pesquisar {
    cursor: pointer;/*isso e impotante*/
  }



  }









  @media screen and ( max-width: 750px) {

    .desktop {
      display: flex;
      flex-direction: column;
      position: relative; /* Para garantir que os elementos posicionados absolutamente sejam relativos ao contêiner .desktop */
      height: 100vh; /* Ocupa toda a altura da tela */
    }



    .desktop .rectangle-4 {
      position: fixed; /* Para fixar na parte inferior */
      bottom: 0;
      left: 0;
      width: 100%; /* Ocupa toda a largura */
      height: 50px; /* Altura desejada */
      background-color: #080808;
    }


    .desktop .icon-person {
      position: absolute;
      width: 83px;
      height: 69px;
      top: 36px;
      left: 180px;
    }

    .desktop .icon-logout {
      position: absolute;
      width: 56px;
      height: 57px;
      top: 40px;
      left: 1290px;
    }

    .desktop .icon-menu {
      position: absolute;
      width: 90px;
      height: 82px;
      top: 30px;
      left: 70px;
    }




    .desktop .rectangle {
      background: url(../../util/variados/imagens/pesquisar.jpg);
      background-size: cover; /* Ajusta o tamanho da imagem para cobrir completamente o elemento */
      background-position: center; /* Centraliza a imagem vertical e horizontalmente */
      background-repeat: no-repeat; /* Impede a repetição da imagem */
      border-radius: 30px;
      border: inset 4px;
      margin-left: 30px;
      height: 150px;
      margin: 20px;
      margin-top: 100px;
    }

    .desktop .rectangle-2 {
      margin-left: 30px;
      height: 150px;
      margin: 20px;
      margin-top: 50px;

    }

    .desktop .rectangle-3 {
      margin-left: 30px;
      height: 150px;
      margin: 20px;
      margin-top: 50px;
    }





    }
