/* Estilos para Desktop */
@media screen and (min-width: 750px) {
  .desktop {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    /* Certifique-se de que a largura ocupe toda a tela */
  }

  .formulario {
    background-color: rgb(206, 212, 212);
    padding: 20px;
  }

  .label_filtro_PESQUISA {
    padding: 10px;
    font-family: 'Times New Roman', Times, serif;
  }

  .input_search {
    display: flex;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border: 1px solid #000000;
  }

  .input_filtro {
    margin-left: 10px;
  }

  .label_filtro {
    margin-top: 0;
    margin: 10px;
    padding: 10px;
  }

  .btnPesquisar {
    padding: 10px;
    margin-top: 20px;
    margin-left: 15px;
    background-color: rgb(49, 168, 59);
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* 50% 50% */
    gap: 20px;
  }

  .grid-container_Insade {
    display: grid;
    grid-template-columns: 70% 20%;
  }



  .filtro-container {
     margin: 3px;
  }
}














/* Estilos para Mobile */
@media screen and (max-width: 750px) {
  .desktop {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: auto;
  }

  .formulario {
    background-color: rgb(206, 212, 212);
    padding: 18px;
  }


  .label_filtro_PESQUISA {
    font-size: 12px;
    margin-left: 10px;
  }

  .input_search {
    display: flex;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 250px;
    border: 1px solid #000000;
  }

  .label_filtro {
    margin: 5px 0;
    padding: 5px;
    font-size: 14px;
  }

  .btnPesquisar {
    padding: 10px;
    margin-top: 10px;
    width: 40%;
    /* Botão ocupa toda a largura */
    background-color: rgb(49, 168, 59);
    color: #fff;
    border: none;
    cursor: pointer;
  }

  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    /* 100% */
    gap: 10px;
  }

  .filtro-container {
     margin: 3px;
     margin-top: 10px;
  }

  .grid-container-user{
    margin: 15px;
  }


}
