<!-- <body>
  <div class="desktop">
    <form class="formulario" [formGroup]="FormularioPesquisa">

      <div style="margin-left: 10px; margin-top: 10px;">
        <button style="border: hidden; background-color: rgb(206, 212, 212)" (click)="voltarParaHome()">
          <i class="fa-solid fa-arrow-left fa-xl"></i>
        </button>
      </div>


      <div class="grid-container">
        <div class="grid-container_Insade">
          <div>
            <label class="label_filtro_PESQUISA">Pesquisar Médicos</label>
            <input class="input_search" type="text" id="Pesquisa" name="Pesquisa" required formControlName="Pesquisa">
          </div>
          <div>
            <button class="btnPesquisar" (click)="PesquisarMedicosFiltro()">Pesquisar</button>
          </div>
        </div>

        <div class="grid-container-user">
          <i class="fa-solid fa-user fa-xl" style="color: #2c3230;"></i>
          <div *ngIf="MedicoEscolhido">
            <label style="font-size: 12px; margin-left: 10px;">
              <strong>Código: </strong> {{MedicoEscolhido.medCodigo}},
              <strong>Nome: </strong> {{MedicoEscolhido.medNome}},
              <strong>Telefone: </strong> {{MedicoEscolhido.medTelefone}},
              <strong>CRM:</strong> {{MedicoEscolhido.medCrm}},
              <strong>Email:</strong> {{MedicoEscolhido.medEmail}},
              <strong>Especialidade:</strong> {{MedicoEscolhido.medEspecialidade}}
            </label>
          </div>
        </div>

      </div>

      <div class="filtro-container">
        <label class="label_filtro">Nome</label>
        <input formControlName="FiltroPesquisaMedico" class="input_filtro" type="radio" [value]="1" required>

        <label class="label_filtro">CRM</label>
        <input formControlName="FiltroPesquisaMedico" class="input_filtro" type="radio" [value]="2" required>

        <label class="label_filtro">Cidade</label>
        <input formControlName="FiltroPesquisaMedico" class="input_filtro" type="radio" [value]="3" required>

        <label class="label_filtro">Especialidade</label>
        <input formControlName="FiltroPesquisaMedico" class="input_filtro" type="radio" [value]="4" required>

        <label class="label_filtro">Buscar todos</label>
        <input formControlName="FiltroPesquisaMedico" class="input_filtro" type="radio" [value]="5" required>
      </div>

    </form>
  </div>

    <div>
    <app-tabelas-Pesquisas-Medicos *ngIf="showResultadoMedico" [dadosMedico]="dadosMedico" (fechar)="fecharTabela()"
      (selecionaMedico)="MedicoSelecionado($event)">
    </app-tabelas-Pesquisas-Medicos>
  </div>
</body> -->