<!DOCTYPE html>
<html lang="pt-br">

<body>
    <div class="login-container">
        <div class="login-box">
            <h2>Login</h2>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <button>Login</button>
            <br>
            <div style="justify-content: center;display: flex;">
              <i (click)="cadastraNovoUsuario()" style="font-size: 12px;"   routerLinkActive="router-link-active"  >Não tem Cadastro?Cadastre-se Ja</i>
            </div>
            <div style="justify-content: center;display: flex;">
              <i (click)="recuperaSenha_Usuario()" style="font-size: 12px;"   routerLinkActive="router-link-active"  >Esqueci minha senha/login</i>
            </div>

        </div>
    </div>
</body>
</html>
