<body>
  <div style="border: 5px solid rgb(146, 146, 146); border-radius: 10px; margin: 10px;">
    <div style="margin: 10px">
    <div class="divPediatria">

        <div class="example-full-width">
          <label>Peso (kg)</label>
          <input matInput type="text" [(ngModel)]="peso" name="peso">
        </div>

        <div class="example-full-width">
          <label>Altura (m)</label>
          <input matInput type="text" [(ngModel)]="altura" name="altura">
        </div>

        <div class="example-full-width">
          <label>Temperatura</label>
          <input matInput type="text" [(ngModel)]="Temperatura" name="Temperatura">
        </div>

        <div class="example-full-width">

          <label> Data de Nascimento</label>
          <input matInput type="date" [(ngModel)]="DataNacimento" name="DataNacimento">
        </div>

    </div>

    <div class="divPediatria">
      <div style="width: 100%; margin: 5px; ">
        <label>Sexo</label>
        <div style="width: 100%; margin: 5px;">
          <mat-radio-group [(ngModel)]="Sexo" name="Sexo">
            <mat-radio-button value="1">Masculino</mat-radio-button>
            <mat-radio-button value="2">Feminino</mat-radio-button>
          </mat-radio-group>
        </div>
      </div>

      <div class="example-full-width">
        <label>Saturação (%)</label>
        <input matInput type="text" [(ngModel)]="Saturacao" name="Saturacao">
      </div>

      <div class="example-full-width">
        <label>Hemoglobinação (g/L)</label>
        <input matInput type="text" [(ngModel)]="Hemoglobinacao" name="Hemoglobinacao">
      </div>

      <div class="example-full-width">
        <label>Pressão Arterial</label>
        <input matInput type="text" [(ngModel)]="PressArterial" name="PressArterial">
      </div>
    </div>

    <div class="divPediatria">
      <div class="example-full-width">
        <label>Frequência Respiratória (IRPM)</label>
        <input matInput type="text" [(ngModel)]="FreqRespiratoria" name="FreqRespiratoria">
      </div>

      <div class="example-full-width">
        <label>Frequência Arterial Sistólica (mmHG)</label>
        <input matInput type="text" [(ngModel)]="FreqArterialSistolica" name="FreqArterialSistolica">
      </div>

      <div class="example-full-width">
        <label>Frequência Arterial Diastólica (mmHG)</label>
        <input matInput type="text" [(ngModel)]="FreqArterialDiastolica" name="FreqArterialDiastolica">
      </div>
    </div>

    <div style="display: flex; margin: 10px;">
      <div class="example-full-width">
        <label>Observação</label>
        <textarea matInput style="width: 100%; height: 100px;"   [(ngModel)]="observacao" name="observacao"></textarea>
      </div>
    </div>



    <div style="display: flex; margin: 10px;">
      <div class="example-full-width">
        <label>Queixa Principal</label>
        <textarea matInput style="width: 100%; height: 100px;"   [(ngModel)]="QueixaPrincipal" name="QueixaPrincipal"></textarea>
      </div>
    </div>

    <div style="display:grid ; grid-template-columns: 1fr 1fr;">

      <div style="display: flex; margin: 10px;">
        <div class="example-full-width">
          <label>Conduta</label>
          <textarea matInput style="width: 100%; height: 100px;"   [(ngModel)]="Conduta" name="Conduta"></textarea>
        </div>
      </div>


      <div style="display: flex; margin: 10px;">
        <div class="example-full-width">
          <label>Anamnese</label>
          <textarea matInput style="width: 100%; height: 100px;"   [(ngModel)]="Anamnese" name="Anamnese"></textarea>
        </div>
      </div>
    </div>


  </div>
  </div>
</body>
