<section class="example-container mat-elevation-z8 custom-table" tabindex="0"
  style="border: 1px solid black; border-radius: 10px;">

  <table mat-table [dataSource]="dataSource">

    <ng-container matColumnDef="ConCodigoConsulta">
      <th mat-header-cell *matHeaderCellDef class="NomeCod ">Cod</th>
      <td mat-cell *matCellDef="let element" class="colunascod">{{element.ConSttCodigoConsulata}}</td>
    </ng-container>

    <ng-container matColumnDef="ConMedico.medNome">
      <th mat-header-cell *matHeaderCellDef class=" NomeMedico">Médico</th>
      <td mat-cell *matCellDef="let element" class="colunasMedico"> {{element.ConSttMedico.medNome || element.ConSttMedico}}
      </td>
    </ng-container>

    <ng-container matColumnDef="ConPaciente.paciNome">
      <th mat-header-cell *matHeaderCellDef class=" NomePaciente">Paciente</th>
      <td mat-cell *matCellDef="let element" class="colunasPaciente">{{element.ConSttPaciente.paciNome ||
        element.ConPaciente}}</td>
    </ng-container>

    <ng-container matColumnDef="ConDia_semana">
      <th mat-header-cell *matHeaderCellDef class=" NomeDiaSemana">Dia</th>
      <td mat-cell *matCellDef="let element" class="colunasDiaSemana">{{element.ConSttDia_semana}}</td>
    </ng-container>

    <ng-container matColumnDef="ConData">
      <th mat-header-cell *matHeaderCellDef class=" Nomedata"> Ano/Mes/Dia </th>
      <td mat-cell *matCellDef="let element" class="colunasData">{{element.ConSttData}}</td>
    </ng-container>


    <ng-container matColumnDef="ConHorario">
      <th mat-header-cell *matHeaderCellDef class=" NomeHorario">Horário</th>
      <td mat-cell *matCellDef="let element" class="colunasHorario">{{element.ConSttHorario}}</td>
    </ng-container>

    <ng-container matColumnDef="ConObservacoes">
      <th mat-header-cell *matHeaderCellDef class=" NomeObecervacao">Aviso</th>
      <td mat-cell *matCellDef="let element" class="colunasObecervacao">
        <button *ngIf="element.ConSttObservacao" style="border: hidden;"
          (click)="openObservacoesDialog(element.ConSttObservacao)">
          <i style="color: cadetblue;" class="fa-solid fa-note-sticky fa-xl"></i>
        </button>
      </td>
    </ng-container>

    <ng-container matColumnDef="Seleciona">
      <th mat-header-cell *matHeaderCellDef class=" NomeObecervacao">Seleciona</th>
      <td mat-cell *matCellDef="let element" class="colunasObecervacao">
        <mat-checkbox  (change)="DadoSelecionadoParaAcao(element, $event)">
        </mat-checkbox>
      </td>
    </ng-container>



    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</section>
